

.title_text{
    color:#607274;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
    margin:auto;
    text-align:center;
    font-size:70;
    transition: 0.3s;
}

.title_text:hover{
    color:#799194;
}

.calendarbar{
  display: grid;
  padding-left:10%;
  padding-right:10%;
  grid-template-columns: 40% 60%;
}

.calendarimage{
    width:90%;
    float:left;
    height:auto;
    border-style:solid;
    border-color:#B2A59B;
    border-width:.25vw;
    cursor:pointer;
}

.calendarimage:hover{
    border-color:#a1958c;
}

.calendartext{
    width:60%;
    float:left;
    color:#383431;
}

.calendarheader{
    cursor:pointer;
}
.calendarheader:hover{
    color:#4f4945;
}

.bar{
    background-color:#607274;
    width:10%;
    height:1%;
    display:flex;
    margin:auto;
}

.tabsbar{
    padding-left:10%;
    padding-right:10%;
    display:grid;
    height:50%;
    grid-template-columns:auto auto auto;
    grid-gap:1.5%;
}

.tab{
    border-width:10%;
    border-style:solid;
    border-color:#383431;
    border-radius:10%;
    background-color:#a1958c;
    layout:grid;
}

.tabtext{
    border-style: solid;
    border-color:#383431;
    border-radius:10%;
    text-align:center;
    position: relative;
    top:-30px;
    color:#FAEED1;
}

.item{
    border-color: #635c57;
    border-width:3px;
    position:relative;
    border-style:solid;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    font-family:Playfair Display, sans-serif;
    width:60%;
}

.tabitem{
    border-style: solid;
    border-color:#383431;
    border-radius:10%;
    text-align:center;
    position: relative;
    color:#FAEED1;
}

.itempos2{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end:2;
}

.itempos3{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end:1;
    grid-column-gap: 0%;
    width:80%;
}

.itempos4{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end:2;
}

.itemsettings{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end:2;
    position:absolute;
    left:105%;
    top:-15%;
    display:grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
}

.settingbutton{
    width:215%;
    border-inline-color:green;
    background-color:green;
    border-radius:25%;
}